*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  display: flex;
  flex-direction: column;
  cursor: none;
  height: 100%;
  background: linear-gradient(pink, rgb(75, 75, 249));
  overflow: hidden;
}

.cursor {
  display: flex;
  background-color: pink;
  background-image: url(photo/shepro2.jpeg);
  background-size: contain;
  left: 0;
  top: 0;
  width: 90px;
  height: 90px;
  font-size: 16px;
  position: absolute;
  border-radius: 45px;
}

.cursor_follower {
  background-color: #6492fffc;
  background-image: url(photo/mepro.jpg);
  background-size: contain;
  font-size: 16px;
  transition: transform 0.5s;
  width: 90px;
  height: 90px;
  color: whitesmoke;
  border-radius: 45px;
}
.Bg {
  padding-top: 233px;
  flex: 1;
  color: black;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  font-size: 5em;
}
footer {
  font-size: 16px;
  padding: 20px;
  text-align: center;
}

@media all and (max-width: 600px) {
  .cursor {
    background-color: pink;
    width: 80px;
    height: 80px;
    font-size: 16px;
    position: absolute;
    border-radius: 40px;
  }

  .cursor_follower {
    width: 80px;
    height: 80px;
    color: whitesmoke;
    border-radius: 40px;
  }
}
